<ol id="log">
  @for(gameRound of gameRounds; track gameRound; let index = $index) {
    <li>
      {{ gameRound.player }} selected {{ gameRound.square.rowIndex }}, {{ gameRound.square.colIndex }}
    </li>
  }
</ol>
