<span class="player">
      @if (editMode) {
        <input type="text" required [(ngModel)]="playerName">
      } @else {
        <span class="player-name">{{ playerName }}</span>
      }
  <span class="player-symbol">{{ playerSymbol }}</span>
  </span>
<button (click)="handleEdit()">{{ editMode ? 'Save' : 'Edit' }}</button>
