<main id="game-container">
  <ol id="players" class="highlight-player">
    <li app-player [playerName]="firstPlayerName"
        [playerSymbol]="FIRST_PLAYER_SYMBOL"
        (updateNameEvent)="updatePlayerName($event, FIRST_PLAYER_SYMBOL)"
        [active]="activePlayer === FIRST_PLAYER_SYMBOL"
        [ngClass]="{active: activePlayer === FIRST_PLAYER_SYMBOL}"></li>
    <li app-player [playerName]="secondPlayerName"
        [playerSymbol]="SECOND_PLAYER_SYMBOL"
        (updateNameEvent)="updatePlayerName($event, SECOND_PLAYER_SYMBOL)"
        [active]="activePlayer === SECOND_PLAYER_SYMBOL"
        [ngClass]="{active: activePlayer === SECOND_PLAYER_SYMBOL}"></li>
  </ol>
  @if (winner || hasDraw) {
    <app-game-over [winner]="winner" [draw]="hasDraw" (rematchSelected)="handleRematch()"/>
  }
  <app-game-board [gameBoard]="gameBoard"
                  (squareSelected)="updateGameBoard($event.rowIndex, $event.colIndex)"/>
</main>
<footer>
  <app-log [gameRounds]="gameRounds"/>
</footer>

