<ol id="game-board">
  @for (row of gameBoard; track row; let rowIndex = $index) {
    <li>
      <ol>
        @for (column of row; track column; let colIndex = $index) {
          <li>
            <button (click)="onSquareSelected(rowIndex, colIndex)"
            [disabled]="column !== null">{{ column }}</button>
          </li>
        }
      </ol>
    </li>
  }
</ol>
